/*

0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1800px:     Normal styles
1800px + :           Big desktop

 

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Montserrat Alternates', sans-serif; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

a {
  text-decoration: none;
  color: #fff; }

body {
  box-sizing: border-box;
  padding: 0rem;
  overflow-x: hidden; }

::-moz-selection {
  /* Code for Firefox */
  background: #2b6777;
  color: #fff; }

::selection {
  background: #2b6777;
  color: #fff; }

.header {
  width: 100%;
  color: #fff;
  height: 85vh;
  background-image: linear-gradient(45deg, rgba(200, 216, 228, 0.9), rgba(43, 103, 119, 0.9)), url("./../img/header-background.jpg");
  background-size: cover; }
  .header .header__nav-container {
    position: fixed;
    width: 100%;
    padding: 0 8rem;
    font-size: 1.8rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s; }
    @media screen and (max-width: 75em) {
      .header .header__nav-container {
        padding: 0;
        position: relative; } }
    .header .header__nav-container .header__contact-container {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 75em) {
        .header .header__nav-container .header__contact-container {
          flex-direction: column;
          padding-left: 2rem; } }
      @media screen and (max-width: 75em) {
        .header .header__nav-container .header__contact-container a {
          font-size: 1.8rem; } }
    .header .header__nav-container .header__logo-container {
      align-self: flex-start;
      margin-top: 0.5rem;
      text-align: center; }
      .header .header__nav-container .header__logo-container .logo {
        transition: all 0.3s;
        width: 20rem; }
    .header .header__nav-container .burger {
      position: relative;
      z-index: 100;
      flex-direction: column;
      justify-content: space-between;
      height: 2.5rem;
      justify-self: end;
      padding-right: 2rem;
      display: none;
      cursor: pointer; }
      @media screen and (max-width: 75em) {
        .header .header__nav-container .burger {
          display: flex; } }
      .header .header__nav-container .burger .burger_dash {
        height: 0.1rem;
        width: 4rem;
        background: #fff;
        transform-origin: left center;
        transition: all .3s;
        display: inline-block; }
      .header .header__nav-container .burger.active .dash-2 {
        width: 0%;
        opacity: 0; }
      .header .header__nav-container .burger.active .dash-1 {
        transform: rotate(45deg); }
      .header .header__nav-container .burger.active .dash-3 {
        transform: rotate(-45deg); }
    @media screen and (max-width: 75em) {
      .header .header__nav-container .nav {
        position: absolute;
        right: -110%;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 50;
        background: linear-gradient(-45deg, #2b6777, #c8d8e4);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s; }
        .header .header__nav-container .nav.active {
          right: 0; } }
    .header .header__nav-container .nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 75em) {
        .header .header__nav-container .nav ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #2b6777;
          font-size: 3rem; } }
      .header .header__nav-container .nav ul a {
        padding: 0.5rem 1.5rem;
        background: linear-gradient(45deg, #ccc, #fff);
        background-size: 0 0;
        background-repeat: no-repeat;
        transition: all 0.4s; }
        @media screen and (max-width: 75em) {
          .header .header__nav-container .nav ul a {
            color: #fff;
            padding: 2.5rem;
            font-weight: 700; } }
        .header .header__nav-container .nav ul a:hover {
          color: #2b6777;
          background-size: 100% 100%; }
    .header .header__nav-container.darken {
      background-color: rgba(43, 103, 119, 0.5);
      color: #000;
      height: 5rem;
      padding: 0 2rem;
      align-items: start; }
      .header .header__nav-container.darken .nav {
        margin-top: 1rem; }
      .header .header__nav-container.darken .header__contact-container {
        margin-top: 1.5rem; }
  .header .header__heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 65%;
    padding-left: 10rem; }
    @media screen and (max-width: 75em) {
      .header .header__heading-container {
        padding: 0 15rem;
        width: 100%;
        align-items: center; } }
    @media screen and (max-width: 37.5em) {
      .header .header__heading-container {
        padding: 0 5rem; } }
    .header .header__heading-container .header__heading {
      font-size: 6rem;
      text-align: left; }
      .header .header__heading-container .header__heading-secondary {
        font-size: 2rem;
        font-weight: 500; }
      @media screen and (max-width: 75em) {
        .header .header__heading-container .header__heading {
          text-align: center; } }
    .header .header__heading-container .header__button {
      font-size: 2.7rem;
      padding: 1rem 3rem;
      margin-top: 1rem;
      border-radius: 2rem;
      background: #52ab98;
      transition: all 0.2s; }
      .header .header__heading-container .header__button:hover {
        filter: saturate(3); }

.about {
  padding: 8rem 10rem;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2; }
  .about .about__heading {
    text-align: center;
    font-size: 3rem;
    color: #2b6777; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes buzz-on-hover {
  50% {
    transform: translateX(1px) rotate(0.5deg); }
  100% {
    transform: translateX(-1px) rotate(-0.5deg); } }

@keyframes buzz-on-hover {
  50% {
    transform: translateX(1px) rotate(0.5deg); }
  100% {
    transform: translateX(-1px) rotate(-0.5deg); } }

.buzz-on-hover:hover {
  -webkit-animation-name: buzz-on-hover;
  animation-name: buzz-on-hover;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.moveInBottom {
  -webkit-animation: moveInBottom 0.5s ease-out;
  animation: moveInBottom 0.5s ease-out; }

.moveInRight {
  -webkit-animation: moveInRight 0.5s ease-out;
  animation: moveInRight 0.5s ease-out; }
