@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes buzz-on-hover {
  50% {
    transform: translateX(1.5px) rotate(0.75deg);
  }
  100% {
    transform: translateX(-1.5px) rotate(-0.75deg);
  }
}
@keyframes buzz-on-hover {
  50% {
    transform: translateX(1.5px) rotate(0.75deg);
  }
  100% {
    transform: translateX(-1.5px) rotate(-0.75deg);
  }
}


.buzz-on-hover:hover{
  -webkit-animation-name: buzz-on-hover;
  animation-name: buzz-on-hover;
  -webkit-animation-duration: 0.05s;
  animation-duration: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.moveInBottom {
  animation: moveInBottom 0.5s ease-out;
}
.moveInRight {
  animation: moveInRight 0.5s ease-out;
}


